<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

</head>
<body>

    <style>
        .google-button {
    /* width: 100%; */
    margin-top: 15px;
    background: #fff;
    color: #555;
    border: 1px solid #ddd;
}
.google-button:hover {
    background: #f5f5f5;
}
    </style>
        <img class="wave" src="/assets/wave.png" alt="">
        <img class="bg" src="/assets/bg.svg" alt="">

        <div class="card" >
             <img src="/assets/avatar.svg" class="avatar" alt="">
               <h2>WELCOME</h2>
               <form action="/login" method="post">
                    <div class="input-container">
                        <input type="email" name="email" placeholder=" " required>
                        <label>Email</label>
                    </div>
            
                    <div class="input-container">
                        <input type="password" name="password" placeholder=" " required>
                        <label>Password</label>
                    </div>
                    <a href="#" class="forgot-password">Forgot Password?</a>
                    <button class="button">LOGIN</button>
                </form>
                <form action="/auth/google" method="GET">
                    <button type="submit" class="button google-button">Login with Google</button>
                  </form>
                <p>Don't have an account? <a href="/register">Register</a></p>
          </div>



        
</body>
</html>