@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap :7rem;
    padding: 0 2rem;
}
form{
    width: 90%;
    max-width: 400px;
}
.wave{
   position: fixed;
   bottom: 0px;
   left: 0px;
   height: 100vh;
   z-index: -1;
   margin: 0px;
    padding: 0px;
}
.bg{
   display: flex;
   justify-content: end;
   align-items: center;
}
.bg img{
    width: 500px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.card img{
    width: 100px;
}
input{
    font-size: large;
    height: 40px;
    width: 100%;
    max-width: 550px;
    border: none;
    outline: none;
    border-bottom: 2px solid #d9d9d9;
    padding: 10px 10px 5px;
}

input:focus{
    border-bottom:2px solid #26ce7d;
}
.input-container{
    width: 100%;
    position: relative;
    margin: 30px 30px 0px 0px;
}
.input-container label {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 15px;
    color: #999;
}

.forgot-password{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

.button{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px; 
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase; 
}


a{
    text-align: right;
    text-decoration: none;
    outline: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
p{
    font-weight: bold;
    color: #464646;
}


@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        text-align: center;
        padding: 0 1rem;
    }

    .wave {
        display: none;
    }
    .bg {
        display: none;
    }

    .card {
        width: 90%;
        max-width: 600px;
        margin: auto;
    }

    input, .button, .google-button {
        width: 100%;
        max-width: 550px;
    }

    .input-container {
        width: 100%;
    }

    .input-container label {
        left: 10px;
    }
}

@media screen and (max-width: 600px) {
    .wave {
        display: none;
    }

    .container {
        padding: 0 0.5rem;
    }

    .card {
        width: 100%;
        padding: 20px;
    }
}


